In [23]:
print("Hello World!",end="*")
print("This is Python")

Hello World!*This is Python

In [4]:
a = "Python"
b = "JS"
print(a,b,sep="...")

Python...JS

In [8]:
a = int(input("Enter First Num:-"))
b = int(input("Enter Second Num:-"))

print("sum is: ",a+b)
print("Sub is: ",a-b)
print("Multiplication is: ",a*b)
print("Division is: ",a/b)
print("Modulus is: ",a%b)
print("Exponent is: ",a**b)

Enter First Num:- 5
Enter Second Num:- 2

sum is:  7
Sub is:  3
Multiplication is:  10
Division is:  2.5
Modulus is:  1
Exponent is:  25

In [12]:
num = 10;
print(type(num))

decNum = 10.5
print(type(decNum))

str = "Python"
print(type(str))

isEnable = True
print(type(isEnable))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [17]:
str = "ABC"
print(str[0])
print(str[1])
print(str[2])
print(str[-1])
print(str[-2])
print(str[-3])

A
B
C
C
B
A

In [19]:
str = "India"
print(str[0:3]) #Ind
print(str[1:3]) #nd
print(str[2:3]) #d
print(str[1:]) #ndia
print(str[:3]) #ind

Ind
nd
d
ndia
Ind

In [22]:
#string Concat
name = "Rohit"
work = " is studing Python"

method1 = name + work
print(method1)

#dot format
method2 = '{} {}'.format(name, work)
print(method2)

Rohit is studing Python
Rohit  is studing Python

In [30]:
age = int(input("Enter age: "))
if age >0:
    if age>=60:
        print("Sr. Citizen")
    else:
        print("Not Sr. Citizen")
else:
    print("Invalid Data");

Enter age:  -2

Invalid Data

In [35]:
# WAP in which accept three numbers & print the highest one
a = int(input("Enter First number:"))
b = int(input("Enter Second number:"))
c = int(input("Enter Third number:"))

if a<b:
    a=b
if a<c:
    a=c

print("Highest entered value is ",a)

Enter First number: 100
Enter Second number: 200
Enter Third number: 300

Highest entered value is  300

In [41]:
#WAP in which we will enter name of the day (sunday, monday...). In output according to entry we should get either Working day or weekend
day = input("Enter Day name:")
day = day.lower()

if day == "mon" or day == "tue" or day == "wed" or day == "thrus" or day == "fri":
    print("Working Day")
elif day== "sat" or day == "sun":
    print("Weekend")
else:
    print("Invalid Entry!");

Enter Day name: xyz

Invalid Entry!